* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(231, 231, 231);
}

.navbar {
    display: flex;
    width: 100%;
    height: 8vh;
    justify-content: space-between;
    background-color: rgb(52, 51, 51);
    position: fixed;
    z-index: 1000;
}

.navbar h2 {
    margin-left: 3%;
    display: inline-block;
    align-self: center;
    color: aliceblue;
}

.links-nav {
    margin-right: 3%;
    flex-direction: column-reverse;
    display: inline-block;
    width: 40%;
    font-size: 24px;
    align-self: center;

}

.navbar a {
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aliceblue;
}

.navbar ul :hover {
    background-color: rgb(84, 84, 84);

    margin-left: 5px;
    margin-right: 5px;
    transition: 90ms;
    border-radius: 5px;
}

.navbar ul {
    display: flex;
    list-style: none;
    justify-content: space-around;

}

.intro-camp {
    padding-top: 160px;
    height: auto;
    width: 1650px;
    margin: auto;
    transition: 300ms;
}

.intro-camp h1{
    font-size: 100px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.intro-camp h3{
    font-size: 40px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.intro-camp p{
    font-size: 20px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cards-camp-hardskills {
    margin-top: 2%;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.html{
    border-radius: 10px;
    width: 300px;
    height: 200px;
    background-color: rgb(221, 219, 219);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    filter: invert(100%);

}


.css{
    border-radius: 10px;
    width: 300px;
    height: 200px;
    background-color: rgb(221, 219, 219);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    filter: invert(100%);
    filter: invert(100%);

}

.mysql{
    border-radius: 10px;
    width: 300px;
    height: 200px;
    background-color: rgb(221, 219, 219);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    filter: invert(100%);

}

.nodejs{
    border-radius: 10px;
    width: 300px;
    height: 200px;
    background-color: rgb(221, 219, 219);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    filter: invert(100%);

}

.python{
    border-radius: 10px;
    width: 300px;
    height: 200px;
    background-color: rgb(221, 219, 219);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    filter: invert(100%);
}

.cards-camp-softkills{
    margin-top: 2%;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}

.proactive-card{
    border-radius: 10px;
    width: 300px;
    height: 200px;
    background-color: rgb(221, 219, 219);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    filter: invert(100%);
}

.creatividy-card{
    border-radius: 10px;
    width: 300px;
    height: 200px;
    background-color: rgb(221, 219, 219);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    filter: invert(100%);
}

.organization-card{
    border-radius: 10px;
    width: 300px;
    height: 200px;
    background-color: rgb(221, 219, 219);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    filter: invert(100%);
}

.sociability-card{
    border-radius: 10px;
    width: 300px;
    height: 200px;
    background-color: rgb(221, 219, 219);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    filter: invert(100%);
}









.bck{
    background-color: black;
    padding-bottom: 6%;
    padding-top: 3%;
}
.add-skills{
    background-color: black;
    height: auto;
    width: 1650px;
    margin: auto;
    text-align: center;
}

.add-skills h3{
    color: rgb(224, 224, 224);
    font-size: 40px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.add-skills p{
    color: rgb(224, 224, 224);
    font-size: 20px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.imagem1,.imagem2, .imagem3, .imagem4, .imagem5, .imagem6 {
    width: 480px;
    height: 500px;
    transition: transform .5s ease;
    object-fit: cover;
    border-radius: 10px;
  }

  .imagem1:hover,.imagem2:hover, .imagem3:hover, .imagem4:hover, .imagem5:hover, .imagem6:hover {
    filter: opacity(80%);
    transform: scale(1.1);
  }


.pc-formater{
    list-style: none;
    display: flex;
    justify-content: space-around;

}





.contact-end {
    margin: auto;
    width: 80%;
    height: 350px;
    display: flex;
}
.text-end{
    width: 80%;
    margin: auto;
}
.text-end p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 1%;
    text-align: center;
    font-size: 14px;
}

.linha {
    width: 80%;
}

.contacts-number {
    margin-right: auto;
    margin-left: auto;
    margin-top: 1%;
    width: 15%;
    height: 300px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contacts-number a{
    background-color: rgb(24, 24, 24);
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: aliceblue;
}

.contacts-insta a{
    color: aliceblue;
    background-color: rgb(24, 24, 24);
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}

.contacts-insta a:hover{
    opacity: 50%;
    transition: 100ms;
}

.contacts-number a:hover{
    opacity: 50%;
    transition: 100ms;
}




.contacts-insta{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1%;
    width: 15%;
    height: 300px;
}

.contacts-linkedin{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1%;
    width: 15%;
    height: 300px;
}



@media (width < 1660px) {
    * {
        transition: 300ms;
    }

    .links-nav {
        width: 50%;
        transition: 300ms;
    }

    .intro-camp{
        width: 98%;
    }

    .add-skills{
        width: 98%;
    }

    .html{
        width: 15%;
    }

    .mysql{
        width: 15%;
    }

    .css{
        width: 15%;
    }

    .nodejs{
        width: 15%;
    }

    .mysql{
        width: 15%;
    }

    .python{
        width: 15%;
    }

    .creatividy-card{
        width: 13%;
    }

    .proactive-card{
        width: 13%;
    }

    .organization-card{
        width: 13%;
    }

    .sociability-card{
        width: 13%;
    }
}

@media(width < 1470px){
    .imagem1,.imagem2, .imagem3, .imagem4, .imagem5, .imagem6 {
        width: 380px;
    }
    .invi{
        height: 100px;
    }
}


@media (width < 1300px) {
    .links-nav {
        width: 65%;
        transition: 300ms;
    }
    .imagem1,.imagem2, .imagem3, .imagem4, .imagem5, .imagem6 {
        width: 300px;
    }

    .links-nav {
        width: 100%;
        font-size: 100%;
        justify-content: space-around;
    }

    .creatividy-card{
        width: 21%;
    }

    .proactive-card{
        width: 21%;
    }

    .organization-card{
        width: 21%;
    }

    .sociability-card{
        width: 21%;
    }
    .inviv{
        height: 200px;
    }

    .invi{
        height: 200px;
    }
 
}

@media (width < 900px) {
    .navbar h2 {
        display: none;
    }
    
    .imagem1:hover,.imagem2:hover, .imagem3:hover, .imagem4:hover, .imagem5:hover, .imagem6:hover {
        transform: scale(1);
        filter: opacity(100%);
    }



    .imagem1,.imagem2, .imagem3, .imagem4, .imagem5, .imagem6 {
        width: 90%;
    }

    .add-skills ul{
        flex-direction: column;
    }



    .contact-end{
        flex-direction: column;
    }

    .contacts-insta{
        width: 80%;
        margin-bottom: 1%;
    }

    .contacts-number{
        width: 80%;
        margin-bottom: 1%;
    }

    .contacts-linkedin{
        width: 80%;
        margin-bottom: 1%;
    }

    .cards-camp-softkills{
        
        flex-direction: column;
        height: 840px; 
    }

    .cards-camp-hardskills{
        flex-direction: column;
        height: 840px;
    }

    .intro-camp h1{
        font-size: 74px;
    }
    
    .html{
        width: 100%;
        margin-bottom: 1%;
    }
    .css{
        width: 100%;
        margin-bottom: 1%;
    }
    .mysql{
        width: 100%;
        margin-bottom: 1%;
    }
    .nodejs{
        width: 100%;
        margin-bottom: 1%;
    }
    .python{
        width: 100%;
        margin-bottom: 1%;
    }

    .proactive-card{
        width: 100%;
    }
    .creatividy-card{
        width: 100%;
    }
    .organization-card{
        width: 100%;
    }
    .sociability-card{
        width: 100%;
    }
}

@media (width < 600px) {
    .inviv{
        display: block;
        height: 150px;
    }
    .links-nav {
        width: 100%;
    }

    .navbar h2 {
        display: none;
    }

    .links-nav {
        font-size: 90%;
        justify-content: space-around;
    }
}
